@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Sans', sans-serif;
}


.grupoLogo img {
    height: 75px;
}

.grupoLogo h2 {
    font-size: 1.5rem;
    font-weight: 400;
}




.linkNav {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
} 


/*Configuración especial promo*/
.promo {
    background: linear-gradient(to right, #0000009c, #0000009c), url("../assets/images/ba1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}



.promo h1 {
    font-size: 2.5rem;
    font-weight: 600;

}

.infoPromo p {
    font-size: 1rem;
    line-height: 2;
}


.boton {
    width: 180px;
    height: 45px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 6px;
    background-color: transparent;
    color: white;
    font-size: 1rem;
}

:hover.boton {
    background-color: antiquewhite;
    color: black;
    border: 2px solid antiquewhite;
}

.resaltado {
    background-color: #27a844;
    border: 2px solid #27a844;
}



.oradores h2 {
    text-align: center;
    text-transform: uppercase;
    /*background-color: green;*/
}

.superHeader {
    font-size: .9rem;
    text-transform: uppercase;
    text-align: center;
    color: gray;
}

.superHeader span {
    font-size: 2rem;
    font-weight: 400;
    color: black;
}



.tarjetas div {
    width: 25vw;
    margin: 10px;
    border: 1px solid #d4d4d4;
    border-radius: 4px;
}

.tarjetas img {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

}


.lugar img {
    display: block;

}

.lugar div {
    line-height: 2;
    background-color: #333a40;


}



.convertite p {
    text-align: center;
    font-size: 0.8rem;
}




.formularioOrador div input {

    height: 1.5rem;
    border: 1px solid #c9c8c8;
    border-radius: 5px;
}

.formularioOrador div textarea {
    border: 1px solid #c9c8c8;
    border-radius: 5px;
}

.formularioOrador p {
    text-align: left;
    padding-top: 1rem;
    color: gray;
}

.formularioOrador div:last-child input {

    background-color: #96c93e;
    border: 1px solid #96c93e;
    color: white;

}

.footer {
    margin-top:2rem;
    background-color: #1e4f6d;
    height: 75px;
    display: flex;
    width: 100%;
    align-items: center;

}

.footer ul {
    width:100%;
    padding: 0% 8% 0% 8%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.footer ul li{
    width:11%;
    color: white;
}

